@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:992px) and (max-width:1078px){
	.cta-block {margin-top: 20px;}
	.dwnsection h1{font-size:32px; padding-right:20px;}
}

@media screen and (max-width:1023px) {
	.bannercontent h1{font-size:22px; margin-top:-140px; position:relative; z-index:1;} 
	.bannercontent h3{font-size:16px; position:relative; z-index:1;}
	.bannercontent a.btnbnr{min-width:325px; font-size:16px; position:relative;}
	.mdlcontainer{padding:70px 15px 50px;}
	.bannercontent.bannercontent2{padding-left:0; max-width:inherit; background:none; float:inherit;}
	.mobfootbnr{display:block; width:100%; text-align:center;}
	.homefootbanner .bannerimg{display:none;}
	.homefootbanner{background-image:none; background:linear-gradient(180deg, rgba(213, 220, 228, 1) 8.84%, #e4ebf1 80.11%);}
	
	.bannerarea{position:relative; transform:inherit; margin-right:0; left:0; top:inherit; bottom:0; margin-bottom:0;}
	.bannercontent{max-width:inherit; padding:15px; text-align:center; margin-top:0; position:relative; z-index:1;}
	.bannercontent:before{content:""; height:250px; top:-250px; left:0; position:absolute; z-index:0; width:100%; background:linear-gradient(180deg, rgba(255, 255, 255, 0) 8.84%, #FFFFFF 80.11%);}
	.dwnsection{float:inherit; padding-bottom:30px;}
	
	.homefootbanner .bannercontent h1{font-size:16px; text-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); position:relative; z-index:1; margin-top:-125px;}
	.homefootbanner .bannercontent h3{position:relative; z-index:1;}
	.homefootbanner .bannercontent a.btnbnr{position:relative;}
	
	.homefootbanner .bannercontent{max-width:inherit; margin-top:0; background-color:#fff;}
	.homefootbanner .bannerarea{position:inherit;}
	.bannercontent.dwnsection br{display:none;}
	
	.bluebox .boxcontentarea h2{font-size:18px;}
	.bluebox .boxcontentarea p{font-size:13px;}
	
	.check-box{padding:20px 15px; width:269px;}
	.check-heading p{font-size:14px;}
	.bannercontent-5 {background: #333d47; padding: 20px; text-align:center;}
}


@media screen and (max-width: 991px) {
	.logo-dark{display:none;}
	.logo-light{display:block;}
	nav.mainNav {background: #3B424D;}
	nav.mainNav .navbar-toggler span {background-color: #fff;}
	div#navbarDefault {height: 100vh;padding: 0 20px;}
	div#navbarDefault ul {margin-top: 40px;}
	.mainNav .nav-item a {color: #fff; font-size: 16px !important;}
	.mainNav .nav-item:nth-child(5) {margin-bottom: 30px;}
	.mainNav li.nav-item.scale {display: none;}
	.mainNav li.seperator {border: 1px solid #2E343E;margin-bottom: 25px;}
	.mainNav li.nav-item a.nav-link.js-scroll.btnlast {margin-bottom: 20px;background: #fff;color: #3F87F5 !important;height: 41px;width: 100%;text-align: center;font-size: 16px !important;border-radius: 4px;padding: 10px !important;}
	.mainNav .nav-item.btnlast {background:#3F87F5 ;color: #fff !important;height: 41px;width: 100%;text-align: center;font-size: 16px !important;border-radius: 4px;padding: 10px !important; margin: 0;}
	.mainNav .nav-item.btnlast a{padding: 0;}
	.mainNav li.copyright {display: inline-block;color: rgba(180, 197, 223, 0.5);text-align: center;margin-top: 80px;font-size: 10px;}



	/* --/inner pages/-- */
	.mainNav2 .nav-item.btnlast a{color: #fff;}
	nav.mainNav2 {background: linear-gradient(90.28deg, #0C4B86 0.05%, #3295CD 99.94%);z-index: 400;}


	.aside-container .siga-nos-facebook {position: inherit;}
	.chat-section .chat-submit-form form {width: 100%;}
	.chat-section .chat-submit-form form .row.formgap {margin-top: .625rem;display: inline-block;width: 100%;}
	.chat-section .chat-submit-form form .row.formgap .col-6 {margin-bottom: 10px;max-width: 100%;    padding: 0;}
	.chat-section .chat-submit-form form .submit-text-btn {display: inline-block;}
	.chat-section .chat-submit-form form .submit-text-btn .col-8 {max-width: 100%;}
	.chat-section .chat-submit-form form .submit-text-btn .col-8 p{text-align: center;}
	.chat-section .chat-submit-form form .submit-text-btn .col-4 {max-width: 100%; margin-top:10px; }
	.video-post-backbtn {padding: 15px 0;}


	 .search h1 {font-weight: 800;color: #FFFFFF;padding-left: 0px;font-size: 21px;line-height: 26px;}

 
	.search .input-button {width: auto;height: auto;margin-left: 0!important;}
	.last-post-content .title .title-content h3 {font-size: 18px;line-height: 22px;}
	.post-content-image img {height: 205px;	}
	.last-post-content .title {z-index: 0;position: absolute;top: 100px;}
	.flyier .input-group { width: 100%; }
	a.confirm-btn{width: 100px;}
	.flyier .flyier-area {		padding: 0 ;	}
	.flyier p {font-size: 15px;line-height: 20px;padding-left: 85px;padding-bottom: 15px;}
	.flyier img {top: -13px;left: -10px;width: 34%;	}
	.row.blogs-recent .col-md-6 {margin-bottom: 20px;}
	.pagination-div {		margin-bottom: 0px;	}
	.siga-nos-facebook {		margin-bottom: 80px;	}
	.aside {max-width: 100%;	}
	.aside-container {max-width: 100%;	}
	section.last-pinned-post .last-post-content {		z-index: 0;	}
	section.last-pinned-post {		margin-top: 10px;	}

	.tudo-margin {max-width: 100% !important; margin: 0;}

	.videos-top-content {top: 130px;padding: 20px 10px;width: 100%;}
	.mdlcontainer-4 {		margin-top: 20px;	}
	.videos {z-index: 0;max-width: 100%;flex: 0 0 100%;}
	.aside-video {max-width: 100%;flex: 0 0 100%;	}
	.videos-content {padding: 25px 20px;top: 88px;	width: 100%;}

	.artigos-post {		margin-bottom: 20px;	}
	.cta a.btnbnr {font-size: 12px;	min-width: 100%;}

	.cta-block {margin-top: 20px;}
	.cta-text-content .text-content p{width: 100%;}
	.above-footer {width: 100%;}
	.note-title {max-width: 90%; background: #3F87F5; flex: 0 0 100%; position: unset; margin:-70px auto 0;}
}
@media (min-width: 768px) and (max-width: 991px) {
	.freebe .freebe-content .freebe-title hr {width: 100%;	}
	.homegrid2 .col-md-4 {max-width: 100%!important;}
	.banner-download-content2 {padding: 0 34px;text-align: center;margin-bottom: 20px;}
	.banner-download-content2 a.btnbnr {min-width: 100%;height: auto;}
	.cta-text-content.cta-text-content2 a.btnbnr {min-width: 100%;height: auto;padding: 11px;line-height: .5;}
	a.btnbnr img{margin-right: 10px;}
	.banner-download-content2 h1 {font-size: 30px;}
	.freebe .freebe-content .freebe-title h3 {font-size: 18px;text-align: center;}
	
	.headingtxt h3 {font-size: 31px;}
	.banner-download-content2 h3 {font-weight: 500;font-size: 17px;}

	.flyier img {width: 30%;	}
	.aside {flex: 0 0 100%;	}
	.last-post {max-width: 100%;flex: 0 0 100%;	}
	.post-content-image img {width: 100%;	}
	.bannercontent-5 h1 {font-size: 22px;line-height: 23px;}
	
	.bluebox .boxcontentarea{padding:50px 120px 25px 0;}
	.featureitem:nth-child(2n) .boxcontentarea{padding:50px 0 25px 120px;}
}
@media screen and (max-width: 767px) {
	.bannerimg{padding-top:70px;}
 	.bannerarea{position:relative; transform:inherit; margin-right:0; left:0; top:inherit; bottom:0; margin-bottom:0;}
	.bannercontent{max-width:inherit; padding:15px; text-align:center; margin-top:0; position:relative; z-index:1;}
	.bannercontent:before{content:""; height:340px; top:-340px; left:0; position:absolute; z-index:0; width:100%; background:linear-gradient(180deg, rgba(255, 255, 255, 0) 8.84%, #FFFFFF 80.11%);}
	.mdlcontainer{padding:40px 15px;}
	.bannercontent h1{font-size:18px; text-shadow:0px 1px 0px rgba(255, 255, 255, 0.5); position:relative; z-index:1; margin-top:-210px; line-height:1.3;}
	.bannercontent h3{position:relative; z-index:1;}
	.bannercontent a.btnbnr{position:relative; min-width:inherit;}
	.homefootbanner .bannercontent h1{margin-top:-210px;}
	.dwnsection h1{line-height:1.3;}
	.bannercontent.dwnsection br{display:none;}
	
	.homefootbanner{background-image:none; background-color:#ECEDFD;}
	.mobfootbnr{width:100%;}
	.mobfootbnr img{width:100%;}
	
	.homefootbanner .bannercontent{max-width:inherit; margin-top:0; background-color:#fff;}
	.homefootbanner .bannerarea{position:inherit;}
	a.btnbnr{min-width:inherit; width:100%; font-size:14px;}
	.newitems{padding-bottom:35px;}
	.mobfootbnr{display:block;}
	.homefootbanner .bannerimg{display:none;}

	/* inner pages */
	.freebe .freebe-content .freebe-title hr {width: 100%;	}
	.freebe-items {		width: 100%;}
	.freebe-items .item-btns {max-width: 100%;}
	.banner-download-content2 {padding: 0 34px;text-align: center;margin-bottom: 20px;}
	.banner-download-content2 a.btnbnr {min-width: 100%;height: auto;}
	.cta-text-content.cta-text-content2 a.btnbnr {min-width: 100%;height: auto;padding: 11px;line-height: .5;}
	a.btnbnr img{margin-right: 10px;}
	.banner-download-content2 h1 {font-size: 30px;}
	.freebe .freebe-content .freebe-title h3 {font-size: 18px;text-align: left;}
	.homegrid2 .content p {margin-top: 0px;text-align: left;font-weight: 500;font-size: 15px;line-height: 22px;}
	.homegrid2 .image {width: 35%; float:left;}
	.homegrid2 .image img {width: 80%; height: auto!important;}
	.homegrid2 .prodcol{display:flex; padding:25px 15px; min-height:inherit; margin-bottom:25px;}
	.homegrid2 .content {width: 65%; float:left;}
	.headingtxt h3 {font-size: 31px;}
	.banner-download-content2 h3 {font-weight: 500;font-size: 17px;}

	.post-content-image img {width: 100%;}
	.last-post-content .title {top: 102px;	}
	.flyier img {width: 22%;	}

	
	.videos-top-content {top: 61px;}
	.videos-content {top: 197px;}
	.videos-top-content h3 {font-size: 18px;line-height: 22px;}
	.videos-content h3 {font-size: 18px;line-height: 22px;}
	.bannercontent-5 {background: #333d47;padding: 20px; text-align:center;}
	.cta-block{text-align: center;}
	.post-data2 .author-block {margin-bottom: 20px;}

	.author-block .blog-user-info .user-image {	width:100%; text-align:center; margin-right:0; margin-bottom:20px;}
	.cta-text-content .cta-btn a.btnbnr {
		min-width: 100%;}
		
	 .bannerimg{display:none;}
	 .mobbanr, .mobpostbnr{display:block; width:100%; padding-top:70px;}
	 .mobbanr img{width:100%;}
	.bannercontent.bannercontent2{max-width:inherit; padding-left:15px;}	
	
	
	.cta-text-content .text-content p{padding:20px 15px;}
	.check-box{width:100%; padding:8px 15px;}
	.check-box.active .checkbtn i{right:5px;}
	.check-heading p{font-size:15px; font-weight:400;}
	.footrow .footcol{padding:15px 15px; border:1px solid #428dff; margin-bottom:15px; border-radius:6px;}
	
	.above-footer .headingtxt h4{font-size:20px;}
	.full-info{padding:15px;}
	.full-info h6{font-size:14px; line-height:20px;}
	.above-footer .new-btn{margin-top:20px;}
	
	.featureitem{flex-direction:column;}
	.featureitem .bluebox{width:100%;}
	.featureitem .imgarea{width:90%; margin-left:0; margin-top:-90px;}
	.featureitem:nth-child(odd) .bluebox:before{left:-2px;}
	.featureitem:nth-child(odd) .bluebox:after{left:-2px;}
	.bluebox .boxcontentarea{padding:15px; text-align:left;}
	
	.featureitem .bluebox{min-height:inherit; padding:44px 15px 90px;}
	.featureitem:nth-child(even) .imgarea{order: 2; margin-right:0; margin-left:0;}
	.featureitem:nth-child(even) .bluebox{order: 1; width:100%;}
	.featureitem:nth-child(even) .boxcontentarea{padding:15px; text-align:left;}
	.countcol{margin-bottom:40px;}
	.check-box.active .checkbtn{margin-right:0;}
	
	.check-box.active::before{bottom:-16px; width:49px; height:44px; right:6px;}
	.check-box.active::after{width:50px; height:50px; right:8px; bottom:-18px; background-size:cover;}
	.check-box.active .check-heading{padding-right:30px;}
	.freebe-items .item-btns a.item-btn span{font-size:14px;}
	.chat-submit-form .confirm-btn{float:inherit;}
}
@media (min-width:480px) and (max-width:576px){
	.videos-top-content {top: 115px;height: 82px;}
	.videos-content{top:inherit; height:inherit;}
	
	.mobbanr, .mobpostbnr{display:block; width:100%; padding-top:70px;}
	.mobbanr img{width:100%;}
.bannerimg{display:none;}

	.new-btn img{float:left;}
    .new-btn span{display:table-cell; height:38px; vertical-align:middle; text-align:left;}
	.new-btn a{font-size:14px;}
}

@media screen and (max-width:479px){
.mobbanr{display:block; width:100%; padding-top:70px; min-height:300px;}
.mobbanr img{width:100%;}
.bannerimg{display:none;}
.mobpostbnr{display:block; width:100%; padding-top:70px; min-height:inherit;}

body{overflow-x:hidden;}
.mdlbg{background:none; min-height:inherit;}
.newitems{display:inline-block; float:left;}
.newitems .imgcontent{text-align:center;}
.newitems .gridcontent{text-align:center;}
.newitems:nth-child(2n) .gridcontent{text-align:center;}
.footmdl{padding:30px 15px; text-align:center;}
.footmdl p{padding-top:10px; padding-left:0; border-top:2px solid #3f87f5; border-left:0;}
.footright{text-align:center;}

/* inner pages */

.author-block .blog-user-info{display: block;}
.last-post-content .title{top: 64px;}

.videos-content{top:inherit; height:inherit;}
.videos-top-content{top:91px; height:82px;}

a.fb-btn {width: 100%}
a.ggl-btn {width: 100%}
.login-form {padding: 15px;}
.logo-image {    padding: 15px;}
.login-body .container-fluid {    padding: 0;}
.login-body .navbar-brand {margin-right: 0;}

.bannercontent-5{text-align: center;}
.bannercontent-5 h1 {    font-size: 20px;    line-height: 24px;}

.new-btn img{float:left; margin-right:10px;}
.new-btn span{display:table-cell; vertical-align:middle; text-align:left;}
.new-btn a{font-size:14px;}

.flyier img{width:35%;}
.author-block .blog-user-info .user-name {text-align:center; }
}